*{
    padding:0;
    margin:0 .01em;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #777;
}
html, body {
    margin: 0;
    padding: 0;
}

.navbar ul{
    margin: 0;
}

.navbar li{
    display: inline; 
}

.navbar a{
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.navbar a:hover{
    background-color: rgba(255, 255, 255, .3);
}

.main-nav{
    text-align:center;
    font-size: 1.1em;
    font-weight: lighter;
    Border-bottom: 1px solid rgba(255, 255, 255, .3)
}
.main-nav li{
    padding: 0 1%;
}


.main-header{
    background-color: rgba(0, 0, 0, .6);
    background-image: url("images/WhatsApp\ Image\ 2022-04-08\ at\ 4.37.29\ PM.jpeg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.band-name{
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family:  sans-serif;
    font-weight: normal;
    color:white;
}

.band-name-large{
    font-size: 5em;
}

.content-section{
    margin: 1em;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding:0 1.5em;
}

.section-header{
    font-family:  sans-serif;
    font-weight: normal;
    color:#333;
    text-align: center;
    font-size: 2.5em;
}

.about-band-image{
    float: none;
    height:200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}

.main-footer{
    background-color: black;
    color:white;
    padding: .25em 0;
}

.main-footer-container{
    display: flex;    
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li{
    padding:0 .3em;
}

.footer-nav img{
width: 30px;
height:30px;
}
body{
    background: #fefefe;
    font-family: sans-serif;
}
.container{
    width:90%;
    margin:8px auto;
}
.heading{
    text-align:center;
    font-size:30px;
    margin-bottom: 50px;
}
.row {
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    flex-flow: wrap;
}
.card{
    width:30%;
    background:#fff;
    border:1px solid #ccc;
    margin-bottom:50px;
    transition:0.3s;
}
.card-header{
text-align:center;
padding:50px 10px;
background:linear-gradient(to right, #ff416c, #ff4b2b);
color: #fff;
}
.card-body{
padding:30px 20px;
text-align: center;
font-size: 18px;
}
.card-body .btn{
display:block;
color:#fff;
text-align:center;
background:linear-gradient(to right, #ff416c, #ff4b2b);
margin-top:30px;
text-decoration: none;
padding:10px 5px;   
}
.card:hover{
transform: scale(1.05);
box-shadow: 0 0 40px -10px rgba(0,0,0.25);
}

@media screen and (max-width:1000px){
.card{
    width:40%;
}
}
@media screen and (max-width:620px){
.container{
    width:100%;
}
.heading{
    padding:20px;
    font-size:20px;
}
.card{
    width:100%;
}
}
#project a{
  background:hsl(0, 0%, 13%);
  padding:15px 20px;
  text-decoration: none;
  font-weight: bold;
  color:rgb(218, 207, 207);
  display: inline-block;
  text-align:start;
  margin: 30px 0;
  border-radius: 5px;
}


article{
    display: flex ;
    flex-direction: column;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    background-color: rgba(218, 202, 172, 0.438);
    text-align: left;
}

